@import "../../app.component.scss";

.individual-problem-wrapper {
  margin-bottom: 100px;
}

@media only screen and (min-width: 941px) {
  .everything-container {
    padding: 0 15px;
  }

  .individual-problem-wrapper {
    .edit-problem-container {
      padding: 30px;
    }
  }
}

@media only screen and (max-width: 940px) {
  .individual-problem-wrapper {
    .edit-problem-container {
      padding: 24px 15px;
    }
  }
}
