@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700');

$primary_color: #1ba94c;
$dark_background_color: #39424e;
$primary_background_color: #f3f7f7;
$text_color_light: #576871;
$text_color_dark: #0e141e;
$success_color: #25C646;
$danger_color: #ea0027;
$pending_color: #EFE934;
$border_color: #e7eeef;

$primary_font: 'Nunito Sans',
sans-serif;

.center-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;

  .center-space-between-content {
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .vertical-center-space-between-content {
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .center-left-content {
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: flex-start;
  }

  .center-left-top-content {
    align-items: flex-start;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: flex-start;
  }
}

button {
  outline: none;
}

.slim-box-shadow {
  box-shadow: 0.1px 1px 4px 0 #e7eeef;
}

.fat-box-shadow {
  box-shadow: rgba(115, 143, 147, 0.4) 0px 6px 16px 0px;
}

.dark-text {
  color: $text_color_dark;
}

.max-page-width {
  max-width: 1240px;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  .hidden-desktop {
    display: none !important
  }
}

@media only screen and (max-width: 767px) {
  .hidden-mobile {
    display: none !important
  }
}
