<div class="main-navbar-container">
  <div class="content-wrapper center-container">
    <div class="center-space-between-content">
      <div class="left-container">
        <div class="center-container">
          <div class="vertical-center-space-between-content">
            <a href="" class="logo-link">
              <img class="logo-img" src="assets/img/logo.png" alt="Algor Academy">
            </a>
          </div>
        </div>
      </div>

      <div class="right-container">
        <!-- -->
      </div>
    </div>
  </div>
</div>
