@import "../../../app.component.scss";

$easy: $primary_color;
$medium: #db7100;
$hard: #db2644;

.problems-list-wrapper {
  font-family: $primary_font;

  .problems-list-container {
    background-color: #ffffff;

    .problems-list {
      list-style-type: none;
      margin: 0;
      padding: 0;

      .problems-item {
        border-bottom: 1px solid $border_color;
        outline: none;
        cursor: pointer;

        .link-wrapper {
          text-decoration: none;
        }

        .problem-content {
          padding: 30px;
        }

        .problems-item-container {
          .title {
            color: $text_color_dark;
            margin: 0 0 5px 0;
            font-weight: 400;
            font-size: 20px;
          }

          .difficulty {
            color: $text_color_light;
            font-size: 12px;
            font-weight: 400;
            margin: 0 0 5px 0;
          }

          .easy {
            color: $easy;
          }

          .medium {
            color: $medium;
          }

          .hard {
            color: $hard;
          }

          .description {
            color: $text_color_light;
            font-size: 12px;
            font-weight: 400;
            margin: 0;
          }

          &:last-child {
            border: none;
          }
        }

        .solution-link-container {
          margin-left: 8px;
          .solution-link {
            border: 1px solid $primary_color;
            font-weight: 300;
            text-decoration: none;
            color: $primary_color;
            display: block;
            width: 100%;

            &:hover {
              background-color: $primary_color;
              color: #ffffff;
            }
          }
        }

        &:hover {
          background-color: $primary_background_color;

          .title {
            color: $primary_color;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 781px) {
  .solution-link {
    border: 1px solid $primary_color;
    padding: 8px 16px;
    font-weight: 300;
    font-size: 16px;
    text-decoration: none;
    color: $primary_color;
    display: block;
    width: 100%;
    min-width: 130px;

    &:hover {
      background-color: $primary_color;
      color: #ffffff;
    }
  }
}

@media only screen and (max-width: 780px) {
  .solution-link {
    padding: 8px 12px;
    font-size: 14px;
    min-width: 110px;

    &:hover {
      background-color: $primary_color;
      color: #ffffff;
    }
  }
}
